body {text-transform:uppercase;} 
#inputs{ background-color:#87CEEB; border-style:solid;border-radius:2%;text-transform:uppercase;}
#header{ background-color: #87CEEB; height:60px;  border-radius:2%; text-align:center  }
img{ width 10%;height 20%;} #header{ border-style:solid;border-radius:2%;}
.btn-group{ border-style:solid;border-radius:2%;}  
@media print { select{display:none;} #searchtext{display:none;} button{display:none;}; tbody{ overflow:visible;} tbody{ overflow:visible;}}


		
