tr {
width: 100%;
display: inline-table;
table-layout: fixed;
}

table{
 height:500px;              // <-- Select the height of the table
 display: -moz-groupbox; 
 // Firefox Bad Effect
}
tbody{
  overflow-y: scroll;      
  height: 480px;            //  <-- Select the height of the body
  width: 100%;
  position: absolute;
}


